@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Serif+JP:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(25,25,25);
    font-family: 'Lato', 'Noto Serif JP', sans-serif;
}

h1 {
    margin: 0;
    padding: 0
}

.test {
    float: left;
    width: 100%;
}